#tendParent {
    justify-content: space-evenly;
}

.sugg-cont .sugg-item {
    & .tend-img-cont {
        height: 18.9em;
        width: 17.000em;
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    & .tend-item-head {
        position: absolute;
        width: 16.7em;
        bottom: 2px;
        display: none;
        justify-content: space-between;
        background: var(--main-banner-color);
        height: 24px;
        align-items: center;
        padding: 0 0.2em;
        & .tend-text {
            font-family: "Chakra Petch";
            font-weight: 600;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
        }
    }
}

.sugg-cont .tend-item:hover .tend-item-head {
    display: flex;
}