.generic__template {
  margin: 2% 5%;
  width: 1400px;
  margin-top: 75px;
  position: relative;
  .intro__section {
    @include intro__generic;
  }
  .template__guifos__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .template__gif__container {
      @include guifo__container;
      .gif__img {
        height: 100%;
        object-fit: cover;
        &:hover::before {
          @include dotted__frame;
        }
      }
      .gif__title {
        @include banner;
        .gif__text {
          color: $white;
          font-family: $font;
          font-size: 16px;
          font-weight: $bold;
        }
      }
      &:hover {
        background: $day-box-background;
        box-shadow: $day-box-shadow-1-gray;
        .gif__title{
          display: flex;
        }
      }
    }
  }
}
