.main-content {
    padding: 2.1% 9.7% 2.1% 6.3%;
}

.nav .gif-opt {
    display: flex;
    justify-content: space-between;
    & .gif-os {
        height: 64px;
        width: 102.6px;
    }
    .gif-opt-btn {
        display: flex;
        align-items: center;
        & .btn {
            background: #F7C9F3;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
            padding: 0px;
            & .text-btn {
                text-decoration: none;
                color: #110038;
                font-family: 'Chakra Petch';
                font-size: 16px;
                letter-spacing: 0;
                text-align: center;
                line-height: 18px;
            }
        }
        & .btn-1 {
            width: 144px;
            height: 36px;
            margin-right: 16px;
            border: 1px solid #110038;
        }
        & .btn-2 {
            width: 168px;
            display: flex;
            height: 36px;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #110038;
            & .txt-2 {
                display: flex;
                justify-content: center;
                text-justify: center;
                width: 131px;
            }
            & .img-cont {
                height: 35px;
                width: 35px;
                border-left: 1px solid #110038;
                display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    width: 10px;
                    height: 6px;
                }
            }
        }
        .my-gif {
            font-family: 'Chakra Petch';
            margin-left: 16px;
            font-size: 16px;
            color: #110038;
            letter-spacing: 0;
            line-height: 18px;
            text-decoration: none;
            & .my-gif-und {
                text-decoration: underline;
            }
        }
    }
}