.main-content {
    padding: 2.1% 9.7% 0% 6.3%;
}

.nav .gif-opt {
    display: flex;
    justify-content: space-between;
    & .gif-os {
        height: 64px;
        width: 102.6px;
    }
    .gif-opt-btn {
        display: flex;
        align-items: center;
        & .btn {
            background: #F7C9F3;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
            padding: 0px;
            & .text-btn {
                margin: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 28px;
                text-decoration: none;
                color: #110038;
                font-family: 'Chakra Petch';
                font-size: 16px;
                letter-spacing: 0;
                text-align: center;
                line-height: 18px;
            }
        }
        & .btn:hover .text-btn {
            border: 1px dotted #110038;
        }
        & .btn-1 {
            width: 144px;
            height: 36px;
            margin-right: 16px;
            border: 1px solid #110038;
        }
        & .btn-theme-cont {
            width: 168px;
            display: flex;
            height: 36px;
            & .btn-2 {
                width: 131px;
                border: 1px solid #110038;
            }
            & .img-cont {
                width: 34px;
                height: 34px;
                border: 1px solid #110038;
                border-left: 0px;
                & .img-cont-dot {
                    margin: 2px;
                    height: 32px;
                    position: relative;
                    & img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 10px;
                        height: 6px;
                    }
                }
            }
        }
        & .btn-theme-cont:hover .btn .text-btn {
            border: 1px dotted #110038;
        }
        & .btn-theme-cont:hover .img-cont .img-cont-dot {
            border: 1px dotted #110038;
        }
        .my-gif {
            font-family: 'Chakra Petch';
            margin-left: 16px;
            font-size: 16px;
            color: #110038;
            letter-spacing: 0;
            line-height: 18px;
            text-decoration: none;
            & .my-gif-und {
                text-decoration: underline;
            }
        }
    }
}