.search-cont {
    margin-top: 16px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.2%;
        & p {
            padding-left: 0.4%;
            height: 24px;
            background: linear-gradient(90deg, #4180f6 0%, #f7c9f3 100%);
            font-family: "Chakra Petch";
            font-weight: 600;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            display: flex;
            align-items: center;
        }
    }
    & .search-bar-container {
        padding: 0.7% 1.3% 0.7% 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .search-bar {
            width: 1057px;
            height: 48px;
            background: #FFFFFF;
            border: 1px solid #979797;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        }
        & .search-btn {
            width: 102px;
            height: 36px;
            margin-left: 0.6%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: #B4B4B4 100%;
            font-family: "Chakra Petch";
            padding: 0;
            background: #E6E6E6;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        }
        & .search-btn::placeholder {
            font-family: 'Chakra Petch';
            padding: 0.8% 0% 0.8% 1.1%;
            font-size: 16px;
            color: #B4B4B4;
            letter-spacing: 0;
            line-height: 22px;
        }
    }
}