:root {
  --main-banner-color: linear-gradient(
    90deg,
    rgba(65, 128, 246, 1) 0%,
    rgba(247, 201, 243, 1) 100%
  );

  --body-margin: 0 9.7% 0 6.9%;
}

body {
  background-color: #fff3fd;
}

header {
  background: var(--main-banner-color);
  box-shadow: 0 1px 0 0 #110038;
  height: 23px;
  display: flex;
  align-items: center;
  padding: 0 0.5%;
  font-family: "Chakra Petch", sans-serif;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
}

.body-margin {
  margin: var(--body-margin);
}

/*-------Navigation --------*/

.navigation {
  padding: 2.1% 0 0 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 64px;
}

.navigation .gif-os {
  width: 102.6px;
  cursor: pointer;
}

.navigation .opt-container {
  width: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  height: 36px;
  width: 144px;
  margin-right: 1.1%;
  background: #f7c9f3;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  border: 1px solid #110038;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #110038;
  font-size: 16px;
  font-family: "Chakra Petch";
  cursor: default;
}

.btn p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 142px;
}

.btn:hover p,
.themes-container:hover .btn p,
.themes-container:active .btn p {
  border: 1px dotted #110038;
}

.navigation .opt-container .themes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 170px;
}

.navigation .opt-container .themes-container .themes {
  position: absolute;
  flex-flow: column;
}
.navigation .opt-container .btn-drop {
  width: 131px;
  margin-right: 0;
}

.navigation .opt-container .btn-arrow {
  width: 33px;
}

.myguifos {
  display: flex;
  text-decoration: none;
  color: #110038;
  font-size: 16px;
  font-family: "Chakra Petch";
}

.themes {
  height: 102px;
  width: 99%;
  top: 37px;
  left: 0;
  align-items: center;
  justify-content: space-around;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  z-index: 1;
}

.themes .sailorday {
  width: 150px;
  height: 36px;
  font-family: "Chakra Petch";
  background: #fff4fd;
  border: 1px solid #cca6c9;
  box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.themes .sailornight {
  width: 150px;
  height: 36px;
  font-family: "Chakra Petch";
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  display: none;
}

.open {
  display: flex;
}

/*------SEARCH BAR-------*/

.search-cont {
  margin-top: 20px;
  height: 99px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.2%;
}

.title {
  height: 24px;
  display: flex;
  align-items: center;
  padding-left: 0.5%;
  background: var(--main-banner-color);
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0;
  font-family: "Chakra Petch";
}

.search-cont .search-bar-container {
  padding: 0.7% 1.3% 0.7% 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-cont .search-bar-container .search-bar {
  width: 1100px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  font-family: "Chakra Petch";
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 22px;
  padding-left: 1.1%;
}

.search-cont .search-bar-container .search-btn {
  width: 102px;
  height: 36px;
  margin-left: 0.6%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #b4b4b4 100%;
  font-family: "Chakra Petch";
  padding: 0;
  background: #e6e6e6;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.search-cont .search-sugg-cont {
  top: 106px;
  left: 0;
  width: 1250.5px;
  position: absolute;
  display: none;
  flex-flow: column;
  justify-content: space-around;
  padding-left: 1.4%;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  z-index: 1;
}

.search-cont .search-sugg-item {
  height: 36px;
  width: 1117px;
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  padding: 0;
  margin: 10px 0;
}

.search-cont .search-sugg-item p {
  display: flex;
  height: 28px;
  margin: 2px;
  padding-left: 1em;
  align-items: center;
  font-family: "Chakra Petch";
}

/*--------Suggestion section------------*/

.sugg {
  padding-top: 0;
  margin-top: 64px;
}

.sugg-head {
  display: flex;
  align-items: center;
  height: 32px;
  width: 100%;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.sugg-head p {
  padding-left: 7px;
  font-family: "Chakra Petch";
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
}

.sugg-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 16px;
}

.sugg-cont .sugg-item {
  position: relative;
  width: 17em;
  height: 19em;
  padding: 3px 4px 2px 3px;
  margin-bottom: 10px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.sugg-cont .sugg-item .sugg-item-head {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(65, 128, 246, 1) 0%,
    rgba(247, 201, 243, 1) 100%
  );
  height: 24px;
  align-items: center;
  padding: 0 0.2em;
}

.sugg-cont .sugg-item .sugg-item-head .sugg-text {
  font-family: "Chakra Petch";
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}

.sugg-cont .sugg-item .sugg-img-cont {
  height: 17.375em;
  width: 17em;
}

.sugg-cont .sugg-item .sugg-img-cont img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sugg-cont .sugg-item .sugg-btn {
  font-family: "Chakra Petch";
  position: absolute;
  width: 81px;
  height: 34px;
  top: 255px;
  left: 10px;
  background: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}
/*--------Tendencias-----------*/

#tendParent {
  justify-content: space-between;
}

.sugg-cont .sugg-item .tend-img-cont {
  height: 18.9em;
  width: 17em;
}

.sugg-cont .sugg-item .tend-img-cont img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sugg-cont .sugg-item .tend-item-head {
  position: absolute;
  width: 16.7em;
  bottom: 2px;
  display: none;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(65, 128, 246, 1) 0%,
    rgba(247, 201, 243, 1) 100%
  );
  height: 24px;
  align-items: center;
  padding: 0 0.2em;
}

.sugg-cont .sugg-item .tend-item-head .tend-text {
  font-family: "Chakra Petch";
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}

.sugg-cont .tend-item:hover .tend-item-head {
  display: flex;
}
/*------------------ My gifs ----------------------------*/

.my-gif-sec {
  margin-top: 2rem;
}
/* -------------- Create gifs -------------------*/

.create {
  height: 550px;
  position: relative;
}

.abs-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*------------Instructions inside asbolute container----------------*/

.instructions {
  display: flex;
  flex-direction: column;
  padding: 0.2em;
  height: 366px;
  width: 684px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.instructions .inst-header {
  padding-left: 1em;
  display: flex;
  height: 24px;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.instructions .inst-header p {
  font-family: "Chakra Petch";
  font-weight: 1000;
  align-self: center;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}

.banner-instructions {
  display: inline-flex;
  height: 70px;
  align-items: center;
  padding-left: 30px;
}

.banner-instructions img {
  width: 32px;
  height: 32px;
}

.banner-instructions p {
  margin-left: 16px;
  font-family: "Chakra Petch";
  font-weight: 1000;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.instructions-txt {
  margin: 0 auto;
  width: 518px;
  height: 205px;
  font-family: "Chakra Petch";
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 30px;
}

.inst-btn-cont {
  flex-direction: row-reverse;
  display: flex;
  height: 70px;
  align-items: center;
}

.inst-btn-cont button {
  width: 144px;
  height: 36px;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.inst-btn-cont .cancel {
  font-family: "Chakra Petch";
  margin-right: 16px;
  background: #fff4fd;
  color: #110038;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.inst-btn-cont .start {
  font-family: "Chakra Petch";
  margin-right: 36px;
  background: #f7c9f3;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.bold {
  font-weight: 1000;
}

.bold-italic {
  font-weight: 1000;
  font-style: italic;
}
/*------------Capture gif inside asbolute container----------------*/

.capture {
  position: relative;
  display: none;
  flex-direction: column;
  padding: 0.2em;
  height: 500px;
  width: 860px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.capture .capt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  padding: 0 0.3rem;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.capture .capt-header p {
  font-family: "Chakra Petch";
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  font: 1000;
}

.capture .capture-video-cont {
  width: 838px;
  height: 400px;
  margin: 8px 14px 0px 8px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

.capture .capt-btn-cont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
}

.capture .capt-btn-cont .l-elements {
  margin-left: 0.5rem;
  height: 36px;
  width: 124px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  display: none;
  align-items: center;
  justify-content: center;
}

.capture .capt-btn-cont .l-elements p {
  font-family: "Chakra Petch";
}

.capture .capt-btn-cont .r-elements {
  display: flex;
}

.capture .capt-btn-cont .r-elements .btn-capture {
  height: 36px;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.capture .capt-btn-cont .r-elements .btn-stop {
  height: 36px;
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
}

.capture .capt-btn-cont .camera-logo {
  position: relative;
  height: 36px;
  width: 36px;
}

.capture .capt-btn-cont .camera-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.capture .capt-btn-cont .capture-btn {
  position: relative;
  height: 36px;
  width: 144px;
  margin-right: 16px;
  font-family: "Chakra Petch";
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.capture .capture-video-cont video {
  padding: 0.1rem;
}
